__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.pt
*.onnx
*.engine
traffic_ai/logs/**
!traffic_ai/logs/.gitkeep
traffic_ai/models/weights/**
!traffic_ai/models/weights/.gitkeep
.idea/
.vscode/
*.mp4
*.avi
.DS_Store
